<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=JORDAN-DESKTOP-\JORDANSQLSERVER;Initial Catalog=JordanDB;Persist Security Info=True;User ID=sa;Password=Doodle!2"
            providerName="System.Data.SqlClient" />
 
  </connectionStrings>
</configuration>